{% extends 'job/job_base.html' %}
{% from "_paginationhelper.html" import render_pagination %}

{% block head_tail%}
{{super()}}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}

{% block container %}
    {{ super() }}

    <div class="panel panel-default row">
        <!-- Default panel contents -->
        <div class="panel-heading table-responsive">List of jobs</div>
        <!-- Table -->
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Remote ID</th>
                <th class="job_date_col">Submission Date</th>
                {% if not current_user.is_anonymous and current_user.get_role() == "admin" %}
                    <th>User</th>
                {% endif %}
                <th>Status</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for job in jobs %}
            <tr {% if job.last_status == 'Failed' %} class="danger"{% endif %}>
                <td>{{ loop.index }} </td>
                <td><a href="{{url_for('.detail', job_id=job.id)}}"></a>{{ job.remote_job_id }}</td>
                <td class="job_date_col">{{ job.submit_date }}</td>
                {% if not current_user.is_anonymous and current_user.get_role() == "admin" %}
                    <td>{{ job.owner_id }}</td>
                {% endif %}
                <td>{{ job.last_status }}</td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
    <div>
        <p>
            <a type="button" class="btn btn-primary" role="button" href="{{url_for('.submit')}}">New Job</a>
        {{render_pagination(pagination)}}
        </p>
    </div>


{% endblock %}
{% block body_tail %}
{{super()}}
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script>$('tbody.rowlink').rowlink();</script>
{% endblock %}
