{% extends 'job/job_base.html' %}

{% block container%}
    {{ super() }}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Job submission form</h3>
        </div>
        <div class="panel-body">
            <form role="form" enctype=multipart/form-data action="{{url_for('.submit')}}" method="POST">
                {% from "_formhelpers.html" import render_field with context%}
                {{ form.hidden_tag() }}
                {{ render_field(form.script_file) }}
                {{ render_field(form.input_files, multiple="True") }}
                <span id="options" class="collapse">
                    {{ render_field(form.name) }}
                    {{ render_field(form.resource) }}
                    {{ render_field(form.new_resource) }}
                    {{ render_field(form.working_directory) }}
                    {{ render_field(form.hpc_backend) }}
                    {{ render_field(form.queue) }}
                    {{ render_field(form.project) }}
                    {{ render_field(form.total_physical_memory) }}
                    {{ render_field(form.total_cpu_count) }}
                    {{ render_field(form.spmd_variation) }}
                    {{ render_field(form.walltime_limit) }}
                    {{ render_field(form.description) }}
                </span>
                <button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="collapse"
                        data-target="#options">Options
                </button>
                <button type="submit" class="btn btn-success navbar-btn">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
