{% extends 'job/job_base.html' %}

{% block container %}
    {{ super() }}
    <div>
        <h3>Job Details</h3>
        <dl>
            <dt>Job ID</dt>
            <dd>{{job.id}}</dd>
            <dt>Name</dt>
            <dd>{{job.name}}</dd>
            <dt>Submit date</dt>
            <dd>{{job.submit_date}}</dd>
            <dt>Resource</dt>
            <dd>{{job.resource.url}}</dd>
            {% if job.files|length > 0 %}
                <dt>Related files</dt>
                <ul>
                {% for file in job.files %}
                    <li>{{file.get_relation_str()|title}}: {{file.get_path()}}
                        <a type="button" class="btn" role="button"
                           href="{{url_for('.uploaded_file', username=current_user.name, job_id=job.id, filename=file.name)}}">Download</a></li>
                {% endfor %}
                </ul>
            {% endif %}
            <dt>Last status</dt>
            <dd>{{job.last_status}}</dd>
            <dt>Current status</dt>
            <dd>{{status}}</dd>
            {% if job.submit_adaptor %}
            <dt>Total number of CPUs</dt>
            <dd>{{job.total_cpu_count}}</dd>
            <dt>SPMD variation</dt>
            <dd>{{job.spmd_variation}}</dd>
            <dt>Walltime limit</dt>
            <dd>{{job.walltime_limit}}</dd>
            {% endif %}
            <dt>Script</dt>
            <dd><textarea readonly="readonly">{{job.user_script}}</textarea></dd>
            <dt>Description</dt>
            <dd>{{job.description}}</dd>
        </dl>
    </div>
    <div>
        {% if status in ('Running' ,'Pending')%}
        <a type="button" class="btn btn-lg btn-danger" role="button" href="{{url_for('.cancel', job_id=job.id)}}">Cancel</a>
        {% endif %}
    </div>
{% endblock %}