{% extends 'job/job_base.html' %}

{% block container %}
    {{ super() }}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Job details
                {% if job.last_status == 'Done' %}
                    <span class="label label-success">{{job.last_status}}</span>
                {% elif job.last_status == 'Failed' %}
                    <span class="label label-danger">{{job.last_status}}</span>
                {% else %}
                    <span class="label label-info">{{job.last_status}}</span>
                {% endif %}
            </h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td><strong>Remote ID</strong></td>
                    <td>{{ job.remote_job_id }}</td>
                </tr>
                <tr>
                    <td><strong>Submit date</strong></td>
                    <td>{{job.submit_date.strftime('%d/%m/%y at %r')}}</td>
                </tr>
                <tr>
                    <td><strong>Resource</strong></td>
                    <td>{{job.resource.url}}</td>
                </tr>
                {% if job.submit_adaptor %}
                    <tr>
                        <td><strong>Queoe name</strong></td>
                        <td>{{ job.queue }}</td>
                    </tr>
                    <tr>
                        <td><strong>Project name</strong></td>
                        <td>{{ job.project }}</td>
                    </tr>
                    <tr>
                        <td><strong>CPU count</strong></td>
                        <td>{{ job.total_cpu_count }}</td>
                    </tr>
                    <tr>
                        <td><strong>SPMD variation</strong></td>
                        <td>{{ job.spmd_variation }}</td>
                    </tr>
                    <tr>
                        <td><strong>Walltime limit</strong></td>
                        <td>{{ job.walltime_limit }}</td>
                    </tr>
                    <tr>
                        <td><strong>Physical memory</strong></td>
                        <td>{{ job.total_physical_memory }}</td>
                    </tr>
                    <tr>
                        <td><strong>Working directory</strong></td>
                        <td>{{ job.remote_dir }}</td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td>{{job.description}}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
        {% if job.files|length > 0 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Uploaded files</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>File name</th>
                            <th>Type</th>
                            <th>Download link</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for file in job.files if file.relation|int in (0,3) %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{file.name}}</td>
                            <td>{{file.get_relation_str()|title}}</td>
                            <td>
                                <a href="{{url_for('.uploaded_file', username=current_user.username, job_id=job.id, filename=file.name)}}">Download</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Output files</h3>
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>File name</th>
                            <th>Type</th>
                            <th>Download link</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for file in job.files if file.relation|int not in (0,3) %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{file.name}}</td>
                            <td>{{file.get_relation_str()|title}}</td>
                            <td>
                                <a href="{{url_for('.uploaded_file', username=current_user.username, job_id=job.id, filename=file.name)}}">Download</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Possible actions</h3>
            </div>
            <div class="panel-body">
                <form class="btn-group" action="{{url_for('.cancel', job_id=job.id)}}" method="post">
                    {% if job.last_status in ('Running' ,'Pending')%}
                        <input type="submit" class="btn btn-danger" value="Cancel">
                    {% else %}
                    <p>There is nothing to do around this job for now.</p>
                    {% endif %}
                </form>
            </div>
        </div>

{% endblock %}
