# LDAP requirements
# One would need OpenLDAP with cyrus-sasl development headers.
# These are names in ubuntu repositories
libldap2-dev
libsasl2-dev
libssl-dev
# In OpenSUSE they are called:
openldap2-devel
cyrus-sasl-devel


