{% extends 'layout.html' %}

{% block head_meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block title %}
Login - {{super()}}
{% endblock %}

{% block head_tail%}
<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">

    <form class="form-signin" role="form" action="{{ url_for('.login', next=request.args.get('next', '')) }}"
          method="post" autocomplete='on'>
        {% from "_formhelpers.html" import render_messages with context%}
        {{render_messages()}}
        {{ form.csrf_token }}

        <h2 class="form-signin-heading">Please sign in</h2>
        <input name="username" type="text" class="form-control" placeholder="Username" required autofocus style="margin-bottom:5px;">
        <input name="password" type="password" class="form-control" placeholder="Password" required>
        <!--label class="checkbox">
        <input name="remember" type="checkbox" value="remember-me"> Remember me
    </label-->
    {% if not config.get('USE_LDAP_LOGIN') %}
    <small class="text-muted">No account yet? Register <a href="{{ url_for('.register')}}">here.</a></small>
    {% else %}
    <small class="text-muted">Please use your LDAP account to login.</a></small>
    {% endif %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</form>

</div> <!-- /container -->

{% endblock %}
