<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        {% block head_meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}
        <title>{% block title %}SQMPY{% endblock %}</title>

        <!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

        <!-- Optional theme -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

        <!-- Cutom stlyes -->
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

        <!-- jqery theme -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui-smoothness-1.10.3.css') }}" >

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv-3.7.0.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond-1.4.2.min.js') }}"></script>
        <![endif]-->
        {% block head_tail%}
        {% endblock %}
    {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{url_for('sqmpy.index')}}">SQMPY</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <!--li {% if not active_page %}class="active"{% endif %}><a href="/">Home</a></li-->
                            {% block navbar_links %}
                                {% if navitems %}
                                    {% for name, url in navitems.iteritems() %}
                                    <li {% if active_page == name%}class="active"{% endif %}><a href="{{ url }}">{{ name|capitalize}}</a></li>
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}
                        </ul>
                    {% if not config.LOGIN_DISABLED %}
                        <ul class="nav navbar-nav navbar-right">
                            {% if not current_user.is_authenticated %}
                                <li><a href="{{ url_for('security.login') }}">log in</a></li>
                            {% else %}
                                <li><a href="{{ url_for('security.logout') }}">{{current_user.username}} | log out</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        <div class="container starter-template">
            {% block flash_messages %}
                {% from "_formhelpers.html" import render_messages with context%}
                {{render_messages()}}
            {% endblock%}
            {% block container%}
            {% endblock %}
        </div>
        {% endblock %}

        {% block body_tail%}
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->            
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

            <!-- Style file inputs -->
            <!--script src="{{ url_for('static', filename='js/bootstrap.file-input.js') }}"></script-->
            <!--script>
                $('input[type=file]').bootstrapFileInput();
                $('.file-inputs').bootstrapFileInput();
            </script-->

            <!-- File input tweaks -->
            <script>
            $(document).on('change', '.btn-file :file', function() {
                  var input = $(this),
                      numFiles = input.get(0).files ? input.get(0).files.length : 1,
                      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                  input.trigger('fileselect', [numFiles, label]);
                });

            $(document).ready( function() {
                $('.btn-file :file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                        log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                        input.val(log);
                    } else {
                        if( log ) alert(log);
                    }

                });
            });
            </script>
        {% endblock %}
    </body>
</html>
