{% extends 'net/net_base.html' %}
{% from "_paginationhelper.html" import render_pagination %}

{% block container %}
    {{ super() }}

    <div class="panel panel-default row">
        <!-- Default panel contents -->
        <div class="panel-heading table-responsive">Network Peers</div>
        <!-- Table -->
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody data-link="row" class="rowlink">
            {% for peer_key, peer in peers.iteritems() %}
            <tr>
                <td>{{ peer.id }}</td>
                <td>{{ peer.address }}</td>
                <td>{{ peer.status }}</td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
    <div>
        <p>
        {{render_pagination(pagination)}}</p>
    </div>

{% endblock %}
{% block body_tail %}
{{super()}}
<script>$('tbody.rowlink').rowlink();</script>
{% endblock %}